<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">

        <ul class="social">
            <li><a href="{{ site.facebook }}" targe="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{ site.instagram }}" targe="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="{{ site.yelp }}" targe="_blank"><i class="fa fa-yelp"></i></a></li>
        </ul>

        <small>© <script>document.write((new Date()).getFullYear());</script> Angela Williams Design - All rights reserved</small>

    </div>
</footer>
<!-- End Footer -->